<div class="container mt-5">
  <div class="card">
    <div class="card-body">

      <!-- Email Step -->
      <div *ngIf="step === 'email'" class="step">
        <h2 class="mb-4">Enter Your Email</h2>
        <div class="form-group">
          <input type="email" [(ngModel)]="email" placeholder="Email" class="form-control">
        </div>
        <button (click)="checkEmail()" class="btn btn-primary">Next</button>
      </div>

      <!-- OTP Step -->
      <div *ngIf="step === 'otp'" class="step">
        <h2 class="mb-4">Enter OTP</h2>
        <div class="form-group">
          <input type="text" [(ngModel)]="otp" placeholder="OTP" class="form-control">
        </div>
        <button (click)="verifyOTP()" class="btn btn-primary">Verify</button>
      </div>

      <!-- Update Password Step -->
      <div *ngIf="step === 'update'" class="step">
        <h2 class="mb-4">Update Password</h2>
        <div class="form-group">
          <input type="password" [(ngModel)]="newPassword" placeholder="New Password" class="form-control">
        </div>
        <button (click)="updatePassword()" class="btn btn-primary">Update</button>
      </div>

    </div>
  </div>
</div>