<div class="card bg-light" style="width:inherit;">
    <h1>Account Details</h1>
    
    <div class="card-body ">
        
        <div class="header bg-light">
            <div class="input-group bg-light" style="width: 300px; ">
                <input type="text" class="form-control" placeholder="Search for...">
                
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Option 1</a>
                    <a class="dropdown-item" href="#">Option 2</a>
                    <a class="dropdown-item" href="#">Option 3</a>
                  </div>
                </div>
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button"><i class="fas fa-search"></i></button>
                </div>
                <button type="button" class="btn btn-primary add" routerLink="/addaccount">
                  <i class="fas fa-plus-circle">Add</i> 
                </button>
              </div>
            
            </div>
    <table class="table " style="width:793px;height:300px; ">
      
    <thead >
    <tr>
               <th>Account Id </th>
                <th>Account Name</th>
                <th>Owner Id</th>
                <th>Manager Id</th>
                <th> BU Id</th> 
                <th>Planned Start Date</th>
    
                <th>Planned End Date</th>
                <th>Actual Start Date </th>
                <th>Actual End Date</th>
                <th>Status</th>
                <th>Modify</th>
    </tr>
    </thead>
    <tbody>
        <tr>
           
           <td>
           </td>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
            
            <td ><button type="button" class="btn btn-warning ml-2  bg bg-light">
                <i class="fas fa-edit"></i> 
              </button></td>
        </tr>
        <tr>
            <td>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td ><button type="button" class="btn btn-warning ml-2  bg bg-light">
                <i class="fas fa-edit"></i> 
              </button></td>
        </tr>
        <tr>
           
            <td>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            
            <td ><button type="button" class="btn btn-warning ml-2  bg bg-light">
                <i class="fas fa-edit"></i> 
              </button></td>
        </tr>
        <tr>
           
            <td>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            
            <td ><button type="button" class="btn btn-warning ml-2  bg bg-light">
                <i class="fas fa-edit"></i> 
              </button></td>
        </tr>
        <tr>
           
            <td>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td ><button type="button" class="btn btn-warning ml-2  bg bg-light">
                <i class="fas fa-edit"></i> 
              </button></td>
        </tr>
    </tbody>
    </table>
    
    </div>
    
    </div>
    
    