
<div class="container-fluid">

  <div class="row " style="height: 90px;" >

    <div class="input-group mt-5 justify-content-end">
      <div class="input-group-append" style="display: flex">
            <button class="btn btn-primary float-lg-end" routerLink="/admin/add-employee">
              <i class="fa-solid fa-plus"></i>

      </button>

  </div>
  </div>

  <div>


 </div>


  <table class="table mt-5" >
    <thead>
      <tr  class="table-dark">
        <th  class="text-center">Employee Code</th>
        <th class="text-center"> Name</th>
        <th class="text-center">Designation</th>
        <th class="text-center">Email</th>
        <th class="text-center"> Gender</th>
        <th class="text-center">DateOfJoining</th>

        <th class="text-center">Reporting ManagerName</th>
        <th class="text-center">Status </th>

        <th class="text-center">Modify</th>

      </tr>
    </thead>
      <tbody class="tbody" >
<tr *ngFor="let emp of employee">


        <td>{{emp.employeeCode}}</td>
        <td>{{emp.firstName}} {{emp.middleName}} {{emp.lastName}}</td>
        <td>{{emp.designation}}</td>
        <td>{{emp.email}}</td>
        <td>{{emp.gender}}</td>
        <td>{{emp.dateOfJoining |date:'dd-MM-yyyy'}}</td>
        <td>{{emp.managerFirstName}} {{emp.managerMiddleName}} {{emp.managerLastNamee}}</td>
        <td class="{{emp.status }}">{{emp.status }}</td>


         <td class="rowbutton"><button type="button" class="btn btn-warning ml-2  bg bg-light"  (click)="editItem(emp)" >
             <i class="fas fa-edit"></i>
           </button>
           <button type="button" class="btn btn-warning ml-2  bg bg-light" (click)="removeTask(emp. employeeId)">
            <i
              class="fa-solid fa-trash-can fa-fw"
              style="color: red"

            ></i>
          </button>
          </td>

     </tr>


    </tbody>
  </table>
</div>
