<div class="container-fluid">
    <label for="holidayYear">Select year</label>
    <select id="holidayYear" [(ngModel)]="selectedYear" (change)="HolidaysByYear()">
      <option *ngFor="let year of holidayYears" [value]="year" [selected]="year === defaultYear">{{ year }}</option>
    </select>
</div>
  
<div>
    <table class="tablebox">
        <tr class="rows head">
            <th class="text-center">Date</th>
            <th class="text-center">Holiday Name</th>
            <th class="text-center">Week Of The Day</th>
        </tr>
        <tr *ngFor="let holiday of holidayDetails" class="rows">
            <td class="text1">{{holiday.holidayDate|date:'dd-MMM-yyyy'}}</td>
            <td class="text1">{{holiday.holidayName}}</td>
            <td class="text1">{{holiday.holidayDay}}</td>
        </tr>
    </table>
</div>

  
 